.main {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  padding-top: 50px;
  background-color: #bfbfbf;
  opacity: 0.9;
  display: flex;
  gap: 5%;
}

.order_filter_search {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.order_filter_search select {
  width: 150px;
  padding: 3px;
}

.order,
.filter,
.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameList {
  flex-basis: 75%;
}

.list {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}

.list a {
  text-decoration: none;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .main {
    width: 700px;
  }

  .list {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .main {
    width: 100%;
    flex-direction: column;
  }

  .list {
    width: 300px;
    margin: auto;
  }
}
