.main {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  padding-top: 20px;
  background-color: #999898;
  opacity: 0.8;
  display: flex;
  gap: 5%;
}

.order_filter_search {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.order_filter_search * {
  text-align: center;
}

.order_filter_search option,
.order_filter_search input {
  text-align: left;
}

.order_filter_search select {
  width: 150px;
  padding: 3px;
}

.order,
.filter,
.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameList {
  flex-basis: 75%;
}

.gameList p,
.gameList h1,
.gameList h3 {
  text-align: center;
}

@media (max-width: 1000px) {
  .main {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}
