.paginado {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 18px;
  margin: auto;
}

.paginado > * {
  padding: 5px;
  cursor: pointer;
}

.paginado > *:hover {
  background-color: #989898;
}

.current {
  font-weight: 700;
}
